html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  color: #fff;
  text-align: center;
  background-size: cover;
  
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.project-name {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0.1rem;
  line-height: 1.5;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -webkit-font-smoothing: antialiased;
}

.fa {
  color: #FFF;
  margin: 2rem;
  font-size: 3em;
}

.about {
  text-align: left;
  width: 30em;
  margin: auto;
  color: #EEE;
  font-weight: 200;
}

.about a{
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

p {
  font-size: 22px;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem;
  }

  .fa {
    margin: 1rem;
    font-size: 2em;
  }

  .about {
    width: 25em;
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem;
  }

  .fa {
    margin: 1rem;
    font-size: 2em;
  }
  .about {
    width: 20em;
  }
}
